body{
    background-color: blanchedalmond;
}
@keyframes chrome{
    0%{
        color: darkcyan;}
    25%{color: cyan;}
    50%{color: aquamarine;}
    100%{color: antiquewhite;}
}
#one{
    animation-name: chrome;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* the shorter version */
    animation: chrome 4s infinite;
}
#myheading{
    animation: slidein 5s infinite;
}
@keyframes slidein{
    from{
        transform: translateX(0);
        color: rgb(56, 207, 157);
    }
    to{
        transform: translateX(600px);
        color: blue;
    }
}
#mydiv{
    width: 100px;
    background-color: cadetblue;
    height: 150px;
    color: rgb(197, 173, 220);
    animation:rotate 5s 10;
}
@keyframes rotate{
    0%{
        transform:rotate(odeg);
    }
    50%{
        transform:rotate(180deg);
        background-color: brown;
    }
    100%{
        transform: rotate(360deg);
    }


}

