body{
 font-family: monospace;
}
header{
background-color: rgb(51, 51, 73);
text-align: center;
color: rgb(65, 94, 94);
padding:10px 0;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(120, 227, 192);
    padding: 2px;
    border-radius: 5px;
}
nav ul li a:hover{
    color: aqua;
    background-color: azure;
}
main{
    width: 80%;
    margin: 2% auto;
}
section{
    border:3px solid aqua;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px ;
    background-color: cadetblue;
}
h2{
    color: cornflowerblue;
}
h3{
    color:rgb(13, 196, 196)
}
footer{
    background-color: rgb(139, 139, 199);
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}
.pot{
    background-color: rgb(228, 233, 233);
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(24, 163, 237);
}
